<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6YgY4nXrau9o84wcAi9YI8UoaaNbRdCM</string>
	<key>GCM_SENDER_ID</key>
	<string>480476705611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sadi.Unsocial-Media</string>
	<key>PROJECT_ID</key>
	<string>unsocial-media-1fd2d</string>
	<key>STORAGE_BUCKET</key>
	<string>unsocial-media-1fd2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480476705611:ios:71f534fdebaf6e896c2ece</string>
</dict>
</plist>